extends layout

block content
	div(value=curr_user, id="welcome-dialog")
		style body {background-color: #{curr_user.profileBackground}}
		h1 Welcome to MyFacebookSpace
		b #{curr_user.name}
		br
		br
		img(src="#{curr_user.profPicURL}", id="profPic")
		form(name="logout-form", action="/logout", method="post")
			input(type="submit", value="Log out of Account")

		form(name="personalize-my-page", action="/personalize/color", method="post", id="color_personalize")
			h2 Profile Background Color
			input(type="radio", name="color", value="blue")
			label Blue Background
			br
			input(type="radio", name="color", value="white")
			label White Background
			br
			input(type="radio", name="color", value="green")
			label Green Background
			br
			input(type="radio", name="color", value="yellow")
			label Yellow Background
			br
			input(type="submit", value="Change Profile Background Color")

		div
			h2 Your Quotes
			case curr_user.quotes
				when ""
					h3 No quotes to display- do you have any quotes on your Facebook page? 
					form(name="add-quotes", action="/personalize/quotes/add", method="post", id="quotes_personalize_add")
						input(type="submit", value="Add Quotes to Wall")
				default
					| #{curr_user.quotes}
					form(name="remove-quotes", action="/personalize/quotes", method="post", id="quotes_personalize")
						input(type="submit", value="Remove Quotes from Wall")

